html
{
	background-color:#ffffff;
}

body
{
    background-color:#ffffe4;
    font-family:"times new roman";
	font-size:13px;
	color:#442233;
    border: 0px inset;
    padding:35px;
	box-shadow: 0 0.3em 1em #000000;
	margin-left: 20%;
    margin-right: 20%;
}

p
{
    font-family:"times new roman";
    font-size:13px;
}

table
{
    border-spacing: 0px;
	font-size:13px;
    margin: 0;
    text-indent: 0;
    border:0;
	margin-left:auto; 
    margin-right:auto;
}

table td
{
    border: 2px outset #E0D6CC;
	padding: 5px;
	background-color:#fffff1;
}

table th
{
    border: 2px outset #E0D6CC;
	padding: 5px;
	background-color:#fffff1;
	font-weight: bold;
}

ul
{
	font-size:13px;
}

a:link,a:visited,a:active
{ 
	color: #f04;
	text-decoration: none;
}

a:hover
{
	color: #f04;
	text-decoration: underline;
}

h1,h2
{
	color:#000;
}

a.black:link,a.black:visited,a.black:active
{
	color:#000;
	text-decoration: none;
}

a.black:hover
{
	color: #000;
	text-decoration: underline;
}

img
{
	border: 1px solid #000;
	padding: 3px;
	background-color:#fff;
}

.definition
{
	width:80%;
	font-style:italic;
	margin:0 auto;
}
