 body {
    font-family: Cambria Math, sans-serif;
    background-color: #f1f1f1;
}
h1 {
    text-align: center;
    color: #333;
}
p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 1rem 0;
}
